{% extends "admin.layout.base" %}

{% block title %}Список городов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Список городов</h1>

            <form class="form-inline well">
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    <input type="text" name="name" class="form-control" value="{{ name }}" placeholder="Название города">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Выбрать</button>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Регион</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.region }}</td>
                        <td>
                            {% if item.visible > 0 %}
                            <p class="text-success set_visible_city" data-id="{{ item.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></p>
                            {% else %}
                            <p class="text-danger set_visible_city" data-id="{{ item.id }}"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">

        function clickVisible() {
            var p = $(this);
            var id = $(this).attr('data-id') * 1;
            var span = $(this).find('span');
            var status = 0;

            if (span.attr('class') == 'glyphicon glyphicon-eye-close') {
                p.removeClass('text-danger').addClass('text-success');
                span.removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
                status = 1;
            } else {
                p.removeClass('text-success').addClass('text-danger');
                span.removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
            }

            // отправка данных ajax
            $.ajax({
                type: "POST",
                url: '/admin/city/visible',
                data: {id: id, visible: status, "_token": '{{ csrf_token() }}'},
                dataType: "json",
                success: function(response){
                    console.log(response);
                }
            });
        }

        $(document).ready(function(){
            $('.set_visible_city').click(clickVisible);
        });
    </script>
{% endblock %}
