{% extends "admin.layout.base" %}

{% block title %}Список постов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Список постов</h1>
        </div>

        <div class="col-lg-1 col-md-2">
            <p style="padding-top: 24px">
                <a href="{{ route('admin_post_add') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Добавить</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></th>
                    <th>Текст</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            {% if item.images.count() %}
                                <img src="{{ item.images.first().pathUrl('120_90_') }}" alt="">
                            {% else %}
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>{{ item.text }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}