{% extends "admin.layout.base" %}

{% block title %}Создать новую "Шапку"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новую "Шапку"</h1>

            <form method="post" action="{{ route('admin_product_insert') }}">
                <div class="form-group">
                    <label>Комплектация</label>
                    <input type="text" name="equipment" value="{{ item.equipment }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Двигатель</label>
                    <input type="text" name="engine" value="{{ item.engine }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Мощность</label>
                    <input type="text" name="power" value="{{ item.power }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Трансмиссия</label>
                    <input type="text" name="transmission" value="{{ item.transmission }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Привод</label>
                    <input type="text" name="drive_unit" value="{{ item.drive_unit }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Тип кузова</label>
                    <input type="text" name="body_type" value="{{ item.body_type }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Цвет</label>
                    <input type="text" name="colour" value="{{ item.colour }}" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}